<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Find a Note by Note</title>
</head>
<body>
<h1>Form</h1>
<form action="/"   th:action="@{${page.formAction}}" method="post">
    <p>Label: <input type="text" id="label" name="labels" value="" /></p>
    <p>Label: <input type="text" id="label2" name="labels" value="" /></p>
    <p>Label: <input type="text" id="label3" name="labels" value="" /></p>
    <p>Label: <input type="text" id="label4" name="labels" value="" /></p>
    <p>Label: <input type="text" id="label5" name="labels" value="" /></p>
    <p>Label: <input type="text" id="label6" name="labels" value="" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

</form>
</body>
</html>