<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home</title>
</head>
<body>
<h1 style="text-align: center;">Menu</h1>
<p>&nbsp;</p>
<p><a href="savelabel">save a new label</a></p>
<p><a href="savenote">save a new note</a></p>
<p><a href="alllabels">see all labels</a></p>
<p><a href="allnotes">see all notes</a></p>
<p><a href="findlabel">find a label</a></p>
<p><a href="findnotebylabels">find a note by labels</a></p>
<p><a href="findnotebynote">find a note by note exact</a></p>
<p><a href="findnotesbynote">find notes by note contains</a></p>
</body>
</html>