<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Saved Label</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<th:block th:each="note : ${notes}">
    <p><h2><span th:text="${note.note}"></span></h2></p>
    <table>
        <thead>
        <tr>
            <th>Labels</th>

        </tr>
        </thead>

            <tr th:each="label : ${note.labels}">
        <td th:text="${label.label}"></td>
            </tr>
    </table>
    <a th:href="@{'/delete/note/' + ${note.noteId}}">delete note</a>
    <a th:href="@{'/edit/note/' + ${note.noteId}}">edit note</a>
</th:block>

<p><a href="/">Return to Menu</a></p>


</body>
</html>