<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Save a New Note</title>
</head>
<body th:with="size=${#lists.size(note.labels)}">
<h1>Form</h1>
<form th:action="@{${formAction}}"   method="post">
    <p>Note: <input type="text" id="note" name="note" value="" th:value="${note.note}"/></p>
    <span th:each="label,iter : ${note.labels}">
        <p>Label: <input type="text" name="" th:name="'labels[' + ${iter.index} +'].label'" th:value="${label.label}" /></p>
    </span>
    <p>Label: <input type="text"  th:name="'labels[' + ${size}  + '].label'" value="" /></p>
    <p>Label: <input type="text"  th:name="'labels[' + ${size +1} + '].label'" value="" /></p>
    <p>Label: <input type="text"  th:name="'labels[' + ${size + 2} + '].label'" value="" /></p>
    <p>Label: <input type="text"  th:name="'labels[' + ${size + 3} + '].label'" value="" /></p>
    <p>Label: <input type="text"  th:name="'labels[' + ${size + 4} + '].label'" value="" /></p>
    <p>Label: <input type="text"  th:name="'labels[' + ${size + 5} + '].label'" value="" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>